@CHARSET "UTF-8";

/*
    @author Florian Dahlitz
    main stylesheet for admin panel
*/

/*
    general
*/

body {
    font-family: 'Rubik', sans-serif;
    color: #F2F2F2;
    background-image: url(../../pics/bg.jpg);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1em;
    margin: 5px 0 5px 0;
}

p {
    margin: 0 0 1em;
}

/*
    wrapper
*/

#wrapper {
    width: 1000px;
    text-align: left;
    margin: 0 auto;
}

/*
    Login
*/

.left {
    width: 48%;
    text-align: center;
    margin-top: 20%;
    float: left;
}

.left h1 {
    margin: 0 0 0.5em 0;
}

.right {
    width: 48%;
    text-align: center;
    margin-top: 20%;
}
