@CHARSET "UTF-8";

/*
    @author Florian Dahlitz
    main stylesheet for admin panel
*/

/*
    general
*/

body {
    font-family: 'Rubik', sans-serif;
    color: #F2F2F2;
    background-color: #E6E6E6;
}

#login-body {
    background: url(../../pics/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1em;
    margin: 5px 0 5px 0;
}

p {
    margin: 0 0 1em;
}

/*
    wrapper
*/

#wrapper {
    width: 100%;
    text-align: left;
}

/*
    Login
*/

#back-to-site {
    color: #F2F2F2;
}

.left {
    width: 38%;
    text-align: center;
    margin-top: 10%;
    float: left;
}

.left h1 {
    margin: 0 0 0.5em 0;
}

.right {
    width: 48%;
    text-align: center;
    margin-top: 10%;
    float: left;
}

.right h1 {
    margin: 0 0 0.5em 0;
}

/*
    Form
*/

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    position:relative;
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:70px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:2.5em;
    margin: 0 auto;
    padding-bottom:5px;
    margin:0 0 1em 0;
    display:inline-block;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.login-html #tab {
    display: none;
}

/*
    side navigation
*/

.side-nav {
    position: fixed;
    background-color: black;
    width: 250px;
    top: 0;
    bottom: 0;
}

.side-nav span {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 10px;
    border-bottom: 1px solid #00BFFF;
    color: #00BFFF;
}

.side-nav ul {
    width: 100%;
    height: 100%;
}

.side-nav ul li {
    font-size: 1.5em;
    padding: 10px;
}

.side-nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #D8D8D8;
}

.side-nav ul li a:hover {
    color: #81BEF7;
    padding: 0 0 0 10px;
}

/*
    main section
*/

.main {
    margin: 0 0 0 250px;
    padding: 20px;
    color: black;
}

.main h1 {
    color: #0080FF;
    margin: 0 0 1.5em 0;
}

/*
    boxes
*/

.box {
    width: 40%;
}

.box h4 {
    padding: 5px;
    margin: 0;
}

.box p {
    padding: 10px 5px 10px 5px;
    background-color: #D8D8D8;
    line-height: 150%;
}

/*
    error-box
*/

.error-box {
    width: 80%;
}

.error-box h4 {
    padding: 5px;
    margin: 0;
    background-color: #FF0000;
}

.error-box p {
    padding: 10px 5px 10px 5px;
    background-color: #D8D8D8;
    line-height: 150%;
}

/*
    buttons
*/

.buttons {
    width: 100%;
    margin: 0 0 2em 0;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: #D8D8D8;
    color: #585858;
    text-decoration: none;
    font-weight: bold;
}

/*
    general forms
*/

form {
    width: 100%;
}

form label {
    display: block;
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}

form select {
    display: block;
    margin: 0 0 0.5em 0;
    padding: 5px;
    font-size: 1.2em;
}

form input, textarea {
    width: 80%;
    font-size: 1.2em;
    margin: 0 0 1em 0;
    padding: 5px;
    display: block;
}

form input[type="submit"], input[type="reset"] {
    width: auto;
    display: inline-block;
}

/*
    Table
*/

table {
    width: 100%;
    font-size: 1.2em;
}

table thead {
    width: 100%;
}

table thead tr th {
    padding: 10px;
    font-weight: bold;
}

table tbody {
    width: 100%;
}

table tbody tr:hover {
    background-color: white;
    cursor: pointer;
    cursor: hand;
}

table tbody tr td {
    padding: 10px;
}

table tbody tr td a {
    text-decoration: none;
    color: black;
    display:block;
}

